<!-- FOOTER -->
<section class="mt-38 mb-16 font text-gray-500 text-center">
    <nav class="flex justify-center gap-8 text-xl">
        <a href="/" class="select-none hover:text-white">Home</a>
        <a href="/releases" class="select-none hover:text-white">Releases</a>
        <a href="/#about" class="select-none hover:text-white">About</a>
        <a href="/#contact" class="select-none hover:text-white">Contact</a>
        
    </nav>
    <p class="mt-8 text-lg text-gray-600">&copy; Jupiter Storm <span id="year"></span></p>
  <script>
    document.getElementById('year').textContent = new Date().getFullYear();
  </script>
</section>