{{/*  default opengraph meta info  */}}
<!-- OpenGraph meta properties -->
{{ with .Site.GetPage "about.md" }}
<meta
  name="description"
  content="{{ .Content }}"
/>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://jupiterstorm.net" />
<meta
  property="og:title"
  content="{{ .Site.Title }}"
/>
<meta
  property="og:description"
  content="{{ .Content }}"
/>
<meta
  property="og:image"
  content="https://jupiterstorm.net/img/jupiter-storm.png"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://jupiterstorm.net" />
<meta
  property="twitter:title"
  content="{{ .Site.Title }}"
/>
<meta
  property="twitter:description"
  content="{{ .Content }}"
/>
<meta
  property="twitter:image"
  content="https://jupiterstorm.net/img/jupiter-storm.png"
/>
{{ end }}