<nav>
    <button id="menuBtn" class="focus:outline-none fixed top-4 left-4 md:top-8 md:left-8 z-30 transition-opacity duration-300">
        <img src="/img/i-menu.svg" alt="menu button" srcset="">
    </button>
    <menu id="menuOverlay" class="fixed top-0 left-0 md:top-7 md:left-7 z-20 w-full h-120 md:w-50 md:h-100 bg-bg-4 text-white flex flex-col justify-center items-center
                                  gap-6 sm:gap-4 text-4xl md:text-3xl transition-opacity duration-100 shadow-sm-hard opacity-0 hidden">
        <a href="/" class="hover:underline uppercase font-heading font-bold select-none">Home</a>
        <a href="/releases" class="hover:underline uppercase font-heading font-bold select-none">Releases</a>
        <!--<a href="#feed" class="hover:underline uppercase font-heading font-bold">Feed</a>-->
        <a href="/#about" class="hover:underline uppercase font-heading font-bold select-none">About</a>
        <a href="/#contact" class="hover:underline uppercase font-heading font-bold select-none">Contact</a>
    </menu>
</nav>