<section class="mt-8">
    <header class="flex gap-4 md:gap-8 pt-8 justify-center items-center font-heading">
        <div class="chevron-left-sm sm:chevron-left"></div>
        <h1 class="text-5xl text-gray-300 font-normal uppercase text-center select-none">Stream & Follow</h1>
        <div class="chevron-right-sm sm:chevron-right"></div>
    </header>
    <div class="max-w-225 flex flex-wrap items-center justify-center gap-12 mt-12 mb-8 mx-8 md:mx-32">
        <a href="https://soundcloud.com/jupiterstorm_psy">
            <img src="/img/i-soundcloud.svg" alt="Soundcloud logo" srcset="">
        </a>
        <a href="https://instagram.com/jupiterstorm_psy">
            <img src="/img/i-insta.svg" alt="Instagram logo" srcset="">
        </a>
        <a href="#coming-soon">
            <img src="/img/i-beatport.svg" alt="Beatport logo" srcset="">
        </a>
        <a href="#coming-soon">
            <img src="/img/i-spotify.svg" alt="Spotify logo" srcset="">
        </a>
        {{/*  <a href="">
            <img src="/img/i-apple.svg" alt="Apple Music logo" srcset="">
        </a>
        <a href="">
            <img src="/img/i-deezer.svg" alt="Deezer Music logo" srcset="">
        </a>
        <a href="">
            <img src="/img/i-bandcamp.svg" alt="Bandcamp logo" srcset="">
        </a>
        <a href="">
            <img src="/img/i-discogs.svg" alt="Discogs logo" srcset="">
        </a>  */}}
    </div>
</section>