{{ define "main" }}
<!-- HERO CONTENT -->
<header class="flex flex-col items-center ">
    <!-- LOGO -->
    <a href="/" aria-label="Jupiter Storm" class="mt-42 md:mt-32 mx-4 w-82 md:w-110 lg:w-124">
        <img src="/logo.svg" alt="Jupiter Storm" class="w-full h-auto select-none">
    </a>
    <!-- CTA -->
    <div class="mt-16 font-button uppercase text-2xl">
        <div class="shadow-sm-hard">
            <a href="#contact" class="inline-block px-6 py-3 font-bold text-white bg-highlight 
                                hover:bg-highlight-2 transition btn-trapezoid select-none">
                Book Me
            </a>
        </div>
    </div>
</header>
<!-- LISTEN NOW - MUSIC PREVIEWS -->
{{ partial "release_previews.html" . }}
<!-- ABOUT -->
<section class="mt-8 flex flex-col items-center" id="about">
    {{ with .Site.GetPage "about.md" }}
    <header class="flex gap-2 md:gap-8 pt-8 justify-center items-center font-heading">
        <div class="chevron-left-sm sm:chevron-left"></div>
        <h1 class="text-5xl md:text-5xl text-gray-300 font-normal uppercase text-center select-none">{{ .Params.titleText | safeHTML }}</h1>
        <div class="chevron-right-sm sm:chevron-right"></div>
    </header>
    <div class="max-w-225 font-display text-xl text-white mt-4 mb-8 text-center mx-8">
        {{ .Content }}
    </div>
    {{ end }}
</section>
<!-- MEDIA FEED -->
{{ end }}